<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/css/addressSearch.css" />
        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
            rel="stylesheet"
        />
        <title>Coffee | addressSearh</title>
    </head>
    <body>
        <div class="address_search">
            <div class="address_search-bar">
                <div class="address_search-input">
                    <input
                          class="search-input"
                        type="text"
                        placeholder="예) 판교역로 235"
                    />
                </div>
                <div class="adderss_search-icon">
                    <input
                        class="search-icon"
                        type="image"
                        src="https://img.icons8.com/fluent-systems-regular/24/000000/search.png"
                    />
                </div>
            </div>
            <div class="address_search-tip">
                <strong>아래와 같이 검색해 보세요.</strong>
                <p>
                    <span>'도로명+건물번호',</span>
                    <span>'지역명+지번',</span>
                    <span>'지역명+건물명(아파트명)',</span>
                    <span>'사서함명+번호'</span>
                </p>
            </div>
            <div class="address_search-list">
                <ul>
                    <li>
                        <div class="list-head">
                            <div class="post">05693</div>
                            <div class="option">
                                <div class="option_en">영문보기</div>
                                <div class="option_map">지도</div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="list-location">
                                <div class="location_title">도로명</div>
                                <div>서울 송파구 가락로 2 (금송빌딩)</div>
                            </div>
                            <div class="list-location">
                                <div class="location_title">지 번</div>
                                <div>서울 송파구 석촌동 221</div>
                            </div>
                        </a>
                    </li>

                    <!--  더미데이터 실제 작업시엔 윗줄만 사용하면 됩니다. -->
                    <li>
                        <div class="list-head">
                            <div class="post">05693</div>
                            <div class="option">
                                <div class="option_en">영문보기</div>
                                <div class="option_map">지도</div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="list-location">
                                <div class="location_title">도로명</div>
                                <div>서울 송파구 가락로 2 (금송빌딩)</div>
                            </div>
                            <div class="list-location">
                                <div class="location_title">지 번</div>
                                <div>서울 송파구 석촌동 221</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="list-head">
                            <div class="post">05693</div>
                            <div class="option">
                                <div class="option_en">영문보기</div>
                                <div class="option_map">지도</div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="list-location">
                                <div class="location_title">도로명</div>
                                <div>서울 송파구 가락로 2 (금송빌딩)</div>
                            </div>
                            <div class="list-location">
                                <div class="location_title">지 번</div>
                                <div>서울 송파구 석촌동 221</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="list-head">
                            <div class="post">05693</div>
                            <div class="option">
                                <div class="option_en">영문보기</div>
                                <div class="option_map">지도</div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="list-location">
                                <div class="location_title">도로명</div>
                                <div>서울 송파구 가락로 2 (금송빌딩)</div>
                            </div>
                            <div class="list-location">
                                <div class="location_title">지 번</div>
                                <div>서울 송파구 석촌동 221</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="list-head">
                            <div class="post">05693</div>
                            <div class="option">
                                <div class="option_en">영문보기</div>
                                <div class="option_map">지도</div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="list-location">
                                <div class="location_title">도로명</div>
                                <div>서울 송파구 가락로 2 (금송빌딩)</div>
                            </div>
                            <div class="list-location">
                                <div class="location_title">지 번</div>
                                <div>서울 송파구 석촌동 221</div>
                            </div>
                        </a>
                    </li>
                    <!--  더미데이터  -->
                </ul>
            </div>
        </div>
    </body>
</html>
