<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/css/address.css" />
        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
            rel="stylesheet"
        />
        <title>Coffee | address</title>
    </head>
    <body>
        <div class="address_search">
            <div class="address_search-bar">
                <div class="address_search-input">
                    <input
                        class="search-input"
                        type="text"
                        placeholder="예) 판교역로 235"
                    />
                </div>
                <div class="adderss_search-icon">
                    <input
                        class="search-icon"
                        type="image"
                        src="https://img.icons8.com/fluent-systems-regular/24/000000/search.png"
                    />
                </div>
            </div>
            <div class="address_search-tip">
                <strong>tip</strong>
                <p>
                    도로명 + 건물번호 <br />
                    <span class="example"> 예) 판교역로 235, 첨단로 242</span>
                </p>
                <p>
                    지역명(동/리) + 번지 <br />
                    <span class="example">
                        예) 삼평동 681, 제주 영평동 2181</span
                    >
                </p>
                <p>
                    지역명(동/리) + 건물명(아파트명) <br />
                    <span class="example"> 예) 분당 주공, 연수동 주공3차</span>
                </p>
                <p>
                    사서함명 + 번호 <br />
                    <span class="example"> 예) 분당우체국 사서함 1~100</span>
                </p>
            </div>
        </div>
    </body>
</html>
